.drum-machine-container {
	max-width: 1200px;
    margin: auto;
}
.display-container {
	text-align: center;
}
.drums-info-container {
	background: #1a1a1a;
	border: 2px solid #e4e43d;
	padding: 15px;
	h1 {
		color: #ededed;
    	margin: 0;
    	padding: 0;
    	border-top: 5px solid #DB2B39;
    	border-bottom: 5px solid #DB2B39;
	}
}
.display-drums-container {
	max-width: 760px;
    margin: auto;
	ul {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: #DB2B39;
	border-radius: 5px;
	margin: 5px 0;
    padding: 10px 0;
    box-shadow: 5px 3px 0px #19191A;
		.drum-pad {
			list-style: none;
			flex: 0 0 125px;
			padding: 10px 0;
			margin: 10px;
			border: 1px solid #e4e43d;
			border-radius: 5px;
			box-shadow: 2px 2px 0px #19191A;
			&:hover {
				cursor: pointer;
			}
			&:focus {
				outline: none;
			}
		}
	}
	.active {
		background: #29335C;
		color: #fff;
	}
}